/*==========================================
    banner
==========================================*/
.banner {
    background-image: -webkit-linear-gradient( -30deg, rgb(5,33,87) 0%, rgb(145,3,159) 100%);
    position: relative;
    overflow: hidden;
    padding: 300px 0 228px;
    z-index: 2;
    &:after {
        background: url(../img/banner-bg.png) bottom no-repeat;
        background-size: 100%;
        position: absolute;
        content: '';
        left: 0;
        top: 200px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .banner-content {
        .part-text {
            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 700;
                line-height: 72px;
                margin-bottom: 34px;
                margin-top: -12px;
                text-transform: capitalize;
            }
            p {
                font-size: 18px;
                line-height: 30px;
                color: $white;
                font-weight: 300;
                opacity: .8;
            }
            a {
                width: 170px;
                text-align: center;
                display: inline-block;
                border: 1px solid $white;
                padding: 20px 0;
                border-radius: 6px; 
                position: relative;
                font-weight: 500;
                background: -webkit-linear-gradient( -30deg, rgb(5,33,87) 0%, rgb(145,3,159) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-right: 16px;
                margin-top: 20px;
                &:hover {
                    background: -webkit-linear-gradient( -30deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    &:before {
                        opacity: 1;
                    }
                    &:after {
                        opacity: 0;
                    }
                }
                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: -webkit-linear-gradient( -30deg, rgb(5,33,87) 0%, rgb(145,3,159) 100%);
                    z-index: -2;
                    opacity: 0;
                    @include transition($transition);
                }
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: $white;
                    z-index: -1;
                    @include transition($transition);
                }
                &:last-child {
                    background: -webkit-linear-gradient( -30deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .part-img {
            img {
                width: 100%;
            }
        }
    }
}
