/*==========================================
    choosing reason 
==========================================*/
.choosing-reason {
    padding: 111px 0 90px;
    .section-title {
        margin-bottom: 57px;
        h2 {
            margin-bottom: 22px;
        }
    }
    .single-reason {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.05);
        padding: 30px 30px 28px 30px;
        margin-bottom: 30px;
        .part-img {
            margin-bottom: 26px;
            img {
                width: 100%;
            }
        }
        .part-text {
            h3 {
                font-size: 22px;
                font-weight: 600;
                color: $heading-color;
                margin-bottom: 17px;
            }
            p {
                color: $base-color;
            }
            a {
                color: #91039f;
                padding: 15px 0;
                width: 160px;
                display: inline-block;
                text-align: center;
                position: relative;
                border: 1px solid #91039f;
                border-radius: 5px;
                margin-top: 11px;
                @include transition($transition);
                &:hover {
                    background: #91039f;
                    color: $white;
                }
            }
        }
    }
}
