/*==========================================
    Inventors
==========================================*/
#investors {
    padding: 110px 0px 120px;
    .section-title {
        margin-bottom: 58px;
        h2 {
            margin-bottom: 22px;
        }
    }
    .box {
        &:hover {
            .image {
                .social_icon {
                    bottom: 0px;
                    opacity: 1;
                }
            }
        }
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
        .info {
            text-align: center;
            padding: 26px 0px 12px;
            h5 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                color: #575f84;
            }
        }
        .social_icon {
            ul {
                text-align: center;
                li {
                    display: inline-block;
                    a {
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        line-height: 35px;
                        background: #fff;
                        display: inline-block;
                        &:hover {
                            background: -webkit-linear-gradient( -30deg, rgb(5,33,87) 0%, rgb(145,3,159) 100%);
                            i {
                                background: -webkit-linear-gradient(to right, #fff, #fff);
                                background: -moz-linear-gradient(to right, #fff, #fff);
                                background: linear-gradient(to right, #fff, #fff);
                                -webkit-background-clip: text;
                                -moz-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                -moz-text-fill-color: transparent;
                            }
                        }
                        i {
                            background: -webkit-linear-gradient( -30deg, rgb(5,33,87) 0%, rgb(145,3,159) 100%);
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-text-fill-color: transparent;
                        }
                    }
                }
            }
        } 
        .image {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
            }
            .social_icon {
                position: absolute;
                z-index: 9;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                opacity: 0;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
        }
    }
}

