/*==========================================
    faq
==========================================*/
.newsletter {
    padding: 110px 0 122px;
    background: url('../img/newsletter-bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient( -30deg, rgb(145,3,159) 0%, #052157 100%);
        opacity: .8;
        z-index: -1;
    }
    .section-title {
        margin-bottom: 59px;
        h2 {
            background-image: -webkit-linear-gradient(-30deg, #ffffff 0%, #ffffff 100%);
        }
        p {
            color: $white;
        }
    }
    .newsletter-form {
        background: -webkit-linear-gradient( -30deg, rgb(145,3,159) 0%, #052157 100%);
        position: relative;
        height: 60px;
        z-index: 2;
        &:after {
            position: absolute;
            content: '';
            left: -2px;
            right: -2px;
            top: -2px;
            bottom: -2px;
            background: -webkit-linear-gradient( -30deg, rgb(145,3,159) 0%, rgb(145,3,159) 100%);
            z-index: -1;
        }
        input {
            width: 100%;
            height: 100%;
            border: none;
            padding: 30px;
            background: #3f1667;
            color: $white;
            padding-right: 200px;
            &::placeholder {
                color: $white;
                opacity: .6;
            }
        }
        button {
            position: absolute;
            top: -2px;
            right: -2px;
            bottom: -2px;
            width: 170px;
            background: -webkit-linear-gradient( -30deg, rgb(145,3,159) 0%, #052157 100%);
            outline: none;
            border: none;
            color: $white;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                background: -webkit-linear-gradient( -30deg, #052157 0%, rgb(145,3,159) 100%);
            }
        }
    }
}