{% extends "base-APP_TEMPLATE" %}
{% block title %}
  
{% endblock title %}

{% block extrastyle %}
    
{% endblock extrastyle %}

{% block content %}

            <div class="row page-header"><div class="col-lg-6 align-self-center ">
        <h2>Upgrade To Business Builder Package</h2></div></div>

        <section class="main-content">
            <div class="row">
              <div class="col-md-12">
      <iframe width="100%" height="515" src="https://www.youtube.com/embed/-6FzYxRrnIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
            </div>
<br> <br>
            <div class="row">
              <div class="col-md-12">
                <h2 style="text-align:center;">Watch Video Above To See How Navigate Our Different Payment Options</h2>
                <br><br>
                <iframe src="https://millennialbusinessbuilders.com/portalfinancing.html" width="100%" height="1200px"></iframe>
              </div>
            </div>
                  </div>
                 </section>
  
{% endblock content %}


{% block javascriptblock %}
  
{% endblock javascriptblock %}