{% load static %}
<style>
    body.nav-collapsed .main-sidebar-nav.dark-navigation {
        display: none !important;
    }

    body.nav-collapsed .admin-logo {
        display: none !important;
    }

    body.nav-collapsed .main-content {
        margin-left: 20px;
    }
</style>

<div class="top-bar light-top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/" class="admin-logo dark-logo">
                    <h1>
                        <img src="{% static 'images/logo.png' %}" class="logo-icon margin-r-10">
                    </h1>
                </a>
                <div class="left-nav-toggle">
                    <a href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <div class="left-nav-collapsed">
                    <a href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                </div>
                <div class="search-form hidden-xs">

                </div>
            </div>
            <div class="col">
                <ul class="list-inline top-right-nav">
                    <li class="dropdown avtar-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src='{% static "images/avtar-2.png" %}' class="rounded-circle" width="30">
                        </a>
                        <ul class="dropdown-menu top-dropdown">
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'user:myprogress' %}"><i class="icon-bell0"></i>My Progress</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="{% url 'loanportal:loanapplication' %}"><i class="icon-money"></i>Loan
                                        Portal</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="{% url 'business:create_specific_portal' %}">Edit Site Goals</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="{% url 'user:logout' %}" class="dropdown-item">
                                        <i class="icon-logout"></i> Logout
                                    </a>
                                </li>
                            {% else %}
                                <a class="navbar-link" href="#">Sign up</a>
                                <a class="navbar-link" href="#">Login</a>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
