{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Get Dinero Today</title>
    {% include "components/StylesBlock.html" %}
    {% block extrastyle %}
    {% endblock extrastyle %}
</head>
<body class=''>
{% include "components/TopBar.html" %}

{% block navigation %}
{% endblock navigation %}

{% block content %}
{% endblock content %}

{% include "components/AlanAI.html" %}

{% include "components/Footer.html" %}
{% include "components/JavaScriptBlock.html" %}
{% block javascriptblock %}
{% endblock javascriptblock %}
</body>
</html>
