/*==========================================
    blog-post page > blog
==========================================*/

.blog-post {
    padding: 111px 0 90px;
    position: relative;
    &.blog-page-content{
        padding-top: 120px;
    }
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #3f4b6e;
        opacity: 0.02;
    }
    .section-title {
        margin-bottom: 57px;
        h2 {
            margin-bottom: 22px;
        }
    }
    .single-blog {
        margin-bottom: 30px;
        box-shadow: 0px 30px 100px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(129, 7, 151, 0.13);
        &:hover {
            .part-text {
                h3 {
                    a {
                        
                    }
                }
            }
        }
        .part-img {
            img {
                width: 100%;
            }
        }
        .part-text {
            background: $white;
            padding: 26px 30px 30px;
            position: relative;
            overflow-x: hidden;
            overflow-y: visible;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
                background: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%);
                opacity: .7;
                @include transition(.6s);
            }
            &:hover {
                &:after {
                    left: -100%;
                }
            }
            .user-img {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 21px;
                margin-top: -30px;
                border: 5px solid $white;
                position: relative;
                z-index: 2;
                display: none;
                img {
                    width: 100%;
                }
            }
            h3 {
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize;
                a {
                    color: #052157;
                    display: inline-block;
                    @include transition($transition);
                    &:hover {
                        color: #91039f;
                    }
                }
            }
            h4 {
                line-height: 24px;
                margin-top: -10px;
                margin-bottom: 18px;
                span {
                    font-size: 12px;
                    font-weight: 500;
                    color: $descr-color;
                }
            }
            p {
                line-height: 26px;
                color: $descr-color;
                font-size: 14px;
                margin: 0;
                font-weight: 400;
            }
            a.read-more {
                display: inline-block;
                background: $white;
                font-size: 14px;
                line-height: 28px;
                height: 30px;
                padding: 0 12px;
                margin-right: 7px;
                color: #91039f;
                margin-top: 26px;
                @include transition($transition);
                position: relative;
                z-index: 2;
                border-top: 1px solid #91039f;
                border-left: 1px solid #91039f;
                border-bottom: 1px solid #052157;
                border-right: 1px solid #052157;
                &:after {
                    position: absolute;
                    content: '';
                    left: -1px;
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    background-image: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%);
                    z-index: -1;
                    opacity: 0;
                }
                &:hover {
                    color: $white;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        .part-social {
            padding: 20px 30px;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: .01;
                background-color: #052157;
            }
            a {
                display: inline-block;
                background-image: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%);
                font-size: 14px;
                font-size: 12px;
                line-height: 30px;
                height: 30px;
                padding: 0 12px;
                border-radius: 50px;
                margin-right: 7px;
                color: $white;
                @include transition($transition);
                &:hover {
                    background-image: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%);
                }
            }
        }
        &.blog-details {
            border: none;
            box-shadow: none;
            .post-shadow, .comment-shadow, .form-shadow {
                box-shadow: 0px 30px 100px 0px rgba(0, 0, 0, 0.05);
                .part-text {    
                    padding: 26px 30px 12px;
                    .user-img {
                        width: 100px;
                        height: 100px;
                        margin-top: -50px;
                    }
                    h3 {
                        font-size: 24px;
                    }
                    h4 {
                        margin-top: -4px;
                        span {
                            font-size: 14px;
                        }
                    }
                    p {
                        font-size: 16px;
                        line-height: 30px;
                        margin-bottom: 16px;
                        font-weight: 400;
                        &:last-child {
                            margin: 0;
                        }
                    }
                    .tag {
                        margin-top: 4px;
                        display: inline-block;
                        h5 {
                            font-size: 14px;
                            color: #052157;
                            a {
                                display: inline-block;
                                font-size: 12px;
                                line-height: 23px;
                                letter-spacing: 1px;
                                font-weight: 400;
                                text-transform: capitalize;
                                color: #91039f;
                                padding: 1px 12px 1px;
                                margin: 0 6px 10px 0;
                                position: relative;
                                border-top: 1px solid #91039f;
                                border-left: 1px solid #91039f;
                                border-bottom: 1px solid #052157;
                                border-right: 1px solid #052157;
                                top: 0;
                                -webkit-transition: all .3s;
                                transition: all .3s;
                                &:first-child {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    //
                    .share{
                        display: inline-block;
                        float: right;
                        margin-top: 7px;
                        ul{
                            margin: 0;
                            padding: 0;
                            li{
                                display: inline-block;
                                margin: 0 5px;
                                font-size: 16px;
                                &.title{
                                    font-weight: 500;
                                    color: #052157;
                                }
                                &:last-child{
                                    margin-right: 0;
                                }
                                a{
                                    color: #575f84;
                                    @include transition($transition);
                                    &:hover{
                                        color: #91039f;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .comment-shadow, .form-shadow {
                background: $white;
                margin-top: 30px;
            }
        }
    }
    &.single-blog-post {
        padding-top: 120px;
    }
    
    /*==========================================
    blog-post page > sidebar widget
    ==========================================*/   
    .widget {
        padding: 15px 20px 20px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba(129, 7, 151, 0.13);
        padding: 30px;
        background: $white;
        box-shadow: 0px 30px 100px 0px rgba(0, 0, 0, 0.05);
        padding-bottom: 21px;
    }
    .widget.widget-popular-post {
        padding-bottom: 10px;
    }
    .widget.widget-popular-post .single-post {
        margin-bottom: 16px;
        display: flow-root;
    }
    .widget.widget-popular-post .single-post .part-img {
        float: left;
        width: 80px;
        margin-right: 15px;
    }
    .widget.widget-popular-post .single-post .part-img img {
        width: 100%;
    }
     .widget.widget-popular-post .single-post .part-text {
         display: table-cell;
     }
     .widget.widget-popular-post .single-post .part-text  h4 {
         line-height: 24px;
     }
     .widget.widget-popular-post .single-post .part-text  h4 a {
         font-size: 16px;
         &:hover {
             color: #91039f;
         }
     }
     .widget.widget-popular-post .single-post .part-text h5 {
        font-size: 14px;
        font-weight: 400;
     }

    .widget select {
        width: 100%;
        background: none;
        border: solid 1px #ececec;
        border-radius: 3px;
        padding: 6px 14px 9px;
    }

    .widget .widgettitle,
    .widget .widgettitle {
        padding-left: 18px;
        margin-bottom: 32px;
        position: relative;
    }

    .widget .widgettitle {
        margin-top: -3px;
        margin-bottom: 20px;
    }

    .widget .widgettitle {
        margin-bottom: 25px;
    }

    .widget .instagallery {
    margin-bottom: -8px;
    }

    .widget .widgettitle:after,
    .widget .widgettitle:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 5px;
        left: 0;
        background: #91039f;
        border-radius: 20% 30% 22px 1px;
    }

    .widget .widgettitle span,
    .widget .widgettitle span {
        display: inline-block;
        padding-right: 10px;
        position: relative;


    }
    .widget a:hover {
        text-decoration: none;
    }

    .widget ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .widget ul li,
    .sayit_simple_list {
        position: relative;
        padding-left: 20px;
        margin-bottom: 13px;
        min-height: 22px;
    }

    .widget_archive ul li,
    .widget_categories ul li {
        text-align: right;
        clear: both;
    }

    .widget_archive ul li a,
    .widget_categories ul li a {
        float: left;
        &:hover {
            color: #91039f;
        }
    }

    .widget ul li:before {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: 0;
        background: #052157;
    }

    .widget_nav_menu li:before {
        display: none;
    }

    .widget_nav_menu li {
        margin-bottom: 0;
        padding-left: 0;

    }

    .widget_nav_menu li a {
        display: inline-block;
        padding-bottom: 13px;
    }

    .widget_recent_comments li,
    .widget_rss li {
        padding-left: 0;
    }

    .widget_recent_comments li:before,
    .widget_rss li:before {
        display: none;
    }

    .widget.widget_categories {
        padding-bottom: 10px;
    }
    .widget_search {
        background: transparent;
        padding: 0    
    }

    .widget_search form {
        position: relative;
    }

    .widget_search input {
        background: transparent;
        border: solid 1px #ececec;
        border-radius: 3px;
        width:100%;
        height: 50px;
        display: inline-block;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 1px;
        font-weight: 400;
        padding: 9px 60px 9px 20px;
        margin-bottom: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        outline: none;
    }

    .widget_search input::-webkit-input-placeholder {
        opacity: 1;
    }
    .widget_search .sayit_icon_search {
        display: inline-block;
        line-height: 50px;
        position: absolute;
        top: 0;
        width: 40px;
        height: 50px;
        text-align: center;
        right: 0;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    
    .widget_tag_cloud .tagcloud {
        position: relative;
        -moz-perspective: 300px;
        -webkit-perspective: 300px;
        perspective: 300px;
    }
    .widget_tag_cloud a {
        display: inline-block;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 1px;
        font-weight: 400;
        text-transform: capitalize;
        color: #91039f;
        padding: 3px 12px 4px;
        margin: 0 6px 10px 0;
        position: relative;
        border-top: 1px solid #91039f;
        border-left: 1px solid #91039f;
        border-bottom: 1px solid #052157;
        border-right: 1px solid #052157;
        top: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .widget_tag_cloud a:hover {
        background: -webkit-linear-gradient(-10deg, #91039f 0%, #052157 100%);
        color: $white;
    }

    /*==========================================
    blog-post page > comment area
    ==========================================*/ 
    .comment-area {
        .comment-area-title {
            padding: 34px 30px 25px 30px;
            font-size: 24px;
        }
        .single-comment {
            display: inline-block;
            padding: 30px;
            border-top: 1px solid rgba(5, 33, 87, 0.13);
            position: relative;
            background: $white;
            &.border-top-none{
                border-top: none;
                padding-top: 0;
                button{
                    top: 0;
                }
            }
            &:last-child {
                border-bottom: none;
                padding-bottom: 38px;
            }
            &.relpy {
                padding-left: 90px;
            }
            .part-user {
                width: 120px;
                float: left;
                img {
                    width: 100%;
                }
            }
            .part-quot {
                margin-left: 140px;
                h4 {
                    font-size: 18px;
                    font-weight: 400;
                    color: #052157;
                }
                h5 {
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: -6px;
                }
                p {
                    font-size: 14px;
                }
            }
            button {
                position: absolute;
                top: 30px;
                right: 30px;
                border: 1px solid #052157;
                background: transparent;
                font-size: 14px;
                width: 70px;
                height: 30px;
                cursor: pointer;
                @include transition($transition);
                &:hover {
                    background: #052157;
                    color: $white;
                }
            }
        }
    }
    /*==========================================
    blog-post page > comment form
    ==========================================*/ 
    .comment-form{
        .comment-form-title {
            padding: 34px 30px 0 30px;
            font-size: 24px;
            // border-bottom: 1px solid rgba(5, 33, 87, 0.13);
        }
        form {
        padding: 25px 30px 40px 30px;
        
        background: $white;
            input {
                width: 100%;
                height: 60px;
                padding: 0 20px;
                margin-bottom: 30px;
                border: 1px solid rgba(5, 33, 87, 0.25);
                @include transition($transition);
                background: transparent;
                &:focus {
                    border: 1px solid #052157;
                }
            }
            textarea {
                width: 100%;
                height: 240px;
                padding: 20px;
                border: 1px solid rgba(5, 33, 87, 0.25);
                @include transition($transition);
                background: transparent;
                resize: none;
                &:focus {
                    border: 1px solid #052157;
                }
            }
            button {
                color: #91039f;
                background: transparent;
                height: 50px;
                width: 130px;
                display: inline-block;
                text-align: center;
                position: relative;
                border: 1px solid rgb(145,3,159);
                margin-top: 21px;
                cursor: pointer;
                @include transition($transition);
                &:hover {
                    background: #91039f;
                    color: $white;
                }
            }
        }
    }


}