{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5HNNWWL');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covid-19 </title>
    <link rel="stylesheet" type="text/css" href='{% static "lib/metisMenu/metisMenu.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/vectormap/jquery-jvectormap-2.0.2.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/chart-c3/c3.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/chartjs/chartjs-sass-default.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/datatables/jquery.dataTables.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/datatables/responsive.bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/toast/jquery.toast.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/jquery-ui/jquery-ui.css" %}'>
    <style>
      body.nav-collapsed .main-sidebar-nav.dark-navigation{
        display: none !important;
      }
      body.nav-collapsed .admin-logo {
        display: none !important;
      }
      body.nav-collapsed .main-content {
          margin-left: 20px;
      }
    </style>

    {% block extrastyle %}

    {% endblock extrastyle %}
  </head>

  <body class=''>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HNNWWL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      <!-- ============================================================== -->
      <!--            Topbar Start              -->
      <!-- ============================================================== -->
      <div class="top-bar light-top-bar">
         <div class="container-fluid">
            <div class="row">
               <div class="col">
                  <a href="/" class="admin-logo dark-logo">
                     <h1>
                        <!--<img src="{% static 'images/logo.png' %}" alt="getdinero"> -->
                         <img src="{% static 'images/logo.png' %}"  class="logo-icon margin-r-10">
                         <!-- <img src="{% static 'images/logo-default.png' %}" class="toggle-none hidden-xs"> -->
                     </h1>
                  </a>
                  <div class="left-nav-toggle" >
                     <a  href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                  </div>
                  <div class="left-nav-collapsed" >
                     <a  href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                  </div>
                  <div class="search-form hidden-xs">

                  </div>
               </div>
               <div class="col">
                  <ul class="list-inline top-right-nav">
                     <li class="dropdown avtar-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <img src='{% static "images/avtar-2.png" %}' class="rounded-circle" width="30">
                        </a>
                        <ul class="dropdown-menu top-dropdown">
                          {% if request.user.is_authenticated %}
                            <!-- <li>
                              <a href="{% url 'user:myprogress' %}"><i class="icon-bell"></i>My Progress</a>
                            </li> -->
                            <!--<li>-->
                            <!-- <a href="#"><i class="icon-user"></i> Profile</a>-->
                            <!--</li>-->
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="{% url 'user:logout'%}" class="dropdown-item">
                                    <i class="icon-logout"></i> Logout
                                </a>
                            </li>
                          {% else %}
                            <a class="navbar-link" href="#">Sign up</a>
                            <a class="navbar-link" href="#">Login</a>
                          {% endif %}
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- ============================================================== -->
      <!--                        Topbar End                              -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!--            Navigation Start            -->
      <!-- ============================================================== -->
      <div class="main-sidebar-nav dark-navigation">
         <div class="nano">
            <div class="nano-content sidebar-nav">
               <div class="card-body border-bottom text-center nav-profile">
                <!--<img src='{% static "images/avtar-2.png" %}' width="90" class="rounded-circle mar-btm margin-b-10 box-shadow"> -->
                 <br>
                  <p class="lead margin-b-0 toggle-none">
                    {{ request.user.get_full_name }}
                  </p>
                  <p class="text-muted mv-0 toggle-none">Welcome To The Covid-19 Business Section</p>
               </div>
               <ul class="metisMenu nav flex-column" id="menu">
{#                  <li class="nav-heading"><span>MAIN</span></li>#}
                  <li class="nav-item">
                    <a href="/" class="nav-link"><span class="toggle-none">Go Back To Main Portal</span></a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'covid19:homeone' %}" class="nav-link"> Introduction Page </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"><span class="toggle-none">Different Covid-19 Related Business Loan Programs <span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column " aria-expanded="false">
                        <li class="nav-item"><a href="{% url 'covid19:coronaone' %}" class="nav-link">SBA PPP Loan Application Tips to GET YOU FUNDED the 2nd Round</a></li>
                        <li class="nav-item"><a href="{% url 'covid19:coronatwo' %}" class="nav-link">Paycheck Protection Program (PPP Loan) Explained | Coronavirus COVID 19 CARES Act Stimulus Package</a></li>
                        <li class="nav-item"><a href="{% url 'covid19:coronathree'%}" class="nav-link">SBA Economic Injury Disaster Loan (EIDL) Program: COVID-19</a></li>
                        <li class="nav-item"><a href="{% url 'covid19:coronafour'%}" class="nav-link">PPP Loan - Latest Instructions & Statistics</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"><span class="toggle-none"> Applying For Covid-19 Related Business Loan Programs  <span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'covid19:coronafive'%}" class="nav-link">How to Apply for the Coronavirus Disaster Loan (EIDL)</a></li>
                         <li class="nav-item"><a href="{% url 'covid19:coronanine'%}" class="nav-link">How to Apply For The Paycheck Protection Plan</a></li>
                        <li class="nav-item"><a href="{% url 'covid19:coronasix'%}" class="nav-link"> Apply for PPP Loan through Kabbage (Self-Employed / Schedule C example)</a></li>
                     </ul>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Covid-19 Related Unemployment/Stimulus Check Information <span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'covid19:coronaseven' %}" class="nav-link">$2,000 Monthly Stimulus Check Proposal in Next Stimulus Package</a></li>
                         <li class="nav-item"><a href="{% url 'covid19:coronaeight' %}" class="nav-link">Stimulus Check and Stimulus Package Update</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!-- ============================================================== -->
      <!--            Navigation End              -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!--            Content Start             -->
      <!-- ============================================================== -->
    {% comment %}
      <% end %>
      <% yeild %>
    {% endcomment %}

    {% comment %}
      {% include "layouts/bot_script_headers.html" %}
    {% endcomment %}

    {% block content %}

    {% endblock content %}
    <footer class="footer">
       <span>Copyright © {% now "Y" %} Get Dinero Today / Need Help? Give Us A Call At 877-726-2604</span>
    </footer>

    <script src='{% static "lib/jquery/dist/jquery.min.js" %}'></script>
    <script src='{% static "lib/jquery-ui/jquery-ui.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/popper.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>

    <script src='{% static "lib/jasny-bootstrap/js/jasny-bootstrap.min.js" %}'></script>
    <script src='{% static "lib/slimscroll/jquery.slimscroll.min.js" %}'></script>
    <script src='{% static "lib/nano-scroll/jquery.nanoscroller.min.js" %}'></script>
    <script src='{% static "lib/metisMenu/metisMenu.min.js" %}'></script>
    <script src='{% static "custom.js" %}'></script>

    <script src='{% static "lib/chartjs/chart.min.js" %}'></script>
    <script src='{% static "lib/chartjs/chartjs-sass.js" %}'></script>

    <script src='{% static "lib/vectormap/jquery-jvectormap-2.0.2.min.js" %}'></script>
    <script src='{% static "lib/vectormap/jquery-jvectormap-us-aea-en.js" %}'></script>

    <script src='{% static "lib/chart-c3/d3.min.js" %}'></script>
    <script src='{% static "lib/chart-c3/c3.min.js" %}'></script>

    <script src='{% static "lib/datatables/jquery.dataTables.min.js" %}'></script>
    <script src='{% static "lib/datatables/dataTables.responsive.min.js" %}'></script>
    <script src='{% static "lib/toast/jquery.toast.min.js" %}'></script>
    <script src='{% static "dashboard.js" %}'></script>



    <script>
    // var chatPal = new ChatPal({embedId: 'DfT7BnTm5dGn', remoteBaseUrl: 'https://chatterpal.me/', version: '7.23'});
    </script>
  <script>
    $(".nano").nanoScroller();

    // Left menu collapse
    // $('.left-nav-toggle a').on('click', function (event) {
    //     event.preventDefault();
    //     $("body").toggleClass("nav-toggle");
    // });
    $(document).ready(function(){
        $(".left-nav-toggle a").off("click").on("click", function() {
          event.preventDefault();
          $("body").toggleClass("nav-toggle");
        });
    })

    // Left menu collapse
      // $('.left-nav-collapsed a').on('click', function (event) {
      //     event.preventDefault();
      //     $("body").toggleClass("nav-collapsed");
      // });

    // Left menu collapse
      $('.right-sidebar-toggle').on('click', function (event) {
          event.preventDefault();
          $("#right-sidebar-toggle").toggleClass("right-sidebar-toggle");
      });

        //metis menu-->
        $('#menu').metisMenu();

      //slim scroll
      $('.scrollDiv').slimScroll({
          color: '#eee',
          size: '5px',
          height: '293px',
          alwaysVisible: false
      });

    //tooltip popover
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  </script>

{% block javascriptblock %}
{% endblock javascriptblock %}
<script>
  window.intercomSettings = {
    app_id: "f8skyzlf"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/f8skyzlf'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/f8skyzlf';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
  </body>
</html>
