{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Business Credit Building Course</title>
    <link rel="stylesheet" type="text/css" href='{% static "lib/metisMenu/metisMenu.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/vectormap/jquery-jvectormap-2.0.2.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/chart-c3/c3.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/chartjs/chartjs-sass-default.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/datatables/jquery.dataTables.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/datatables/responsive.bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/toast/jquery.toast.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/jquery-ui/jquery-ui.css" %}'>
    {% block extrastyle %}

    {% endblock extrastyle %}
  </head>

  <body class=''>
      <!-- ============================================================== -->
      <!--            Topbar Start              -->
      <!-- ============================================================== -->
      <div class="top-bar light-top-bar">
         <div class="container-fluid">
            <div class="row">
               <div class="col">
                  <a href="/" class="admin-logo dark-logo">
                     <h1>
                        <!--<img src="{% static 'images/logo.png' %}" alt="getdinero"> -->
                         <img src="{% static 'images/logo.png' %}"  class="logo-icon margin-r-10">
                         <!-- <img src="{% static 'images/logo-default.png' %}" class="toggle-none hidden-xs"> -->
                     </h1>
                  </a>
                  <div class="left-nav-toggle" >
                     <a  href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                  </div>
                  <div class="left-nav-collapsed" >
                     <a  href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                  </div>
                  <div class="search-form hidden-xs">

                  </div>
               </div>
               <div class="col">
                  <ul class="list-inline top-right-nav">
                     <li class="dropdown avtar-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <img src='{% static "images/avtar-2.png" %}' class="rounded-circle" width="30">
                        </a>
                        <ul class="dropdown-menu top-dropdown">
                          {% if request.user.is_authenticated %}
                            <li>
                              <a href="{% url 'user:myprogress' %}"><i class="icon-bell"></i>My Progress</a>
                            </li>
                            <li>
                              <a href="{% url 'loanportal:loanapplication' %}"><i class="icon-bell"></i>Go To Loan Portal</a>
                            </li>
                            <!--<li>-->
                            <!-- <a href="#"><i class="icon-user"></i> Profile</a>-->
                            <!--</li>-->
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="{% url 'user:logout'%}" class="dropdown-item">
                                    <i class="icon-logout"></i> Logout
                                </a>
                            </li>
                          {% else %}
                            <a class="navbar-link" href="#">Sign up</a>
                            <a class="navbar-link" href="#">Login</a>
                          {% endif %}
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- ============================================================== -->
      <!--                        Topbar End                              -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!--                        Right Side Start                        -->
      <!-- ============================================================== -->
      <nav class="toggle-sidebar" id="right-sidebar-toggle">
         <div class="nano">
            <div class="nano-content">
               <div>
                  <ul class="list-inline nav-tab-card clearfix" role="tablist">
                     <li class="active" role="presentation">
                        <a aria-controls="friends" data-toggle="tab" href="#friends" role="tab">Friends</a>
                     </li>
                  </ul>
                  <div class="tab-content">
                     <div class="tab-pane active" id="friends" role="tabcard">
                        <ul class="list-unstyled sidebar-contact-list">
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-success circle-lg"></span></span>
                                <span class="float-left">
                                <img src='{% static "images/avtar-2.png" %}' class="media-box-object rounded-circle" width="50">
                              </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>John Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-success circle-lg"></span></span> <span class="float-left">
                              <img src='{% static "images/avtar-1.png" %}' class="media-box-object rounded-circle" width="50"></span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>Govinda Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-danger circle-lg"></span></span> <span class="float-left">
                                <img src='{% static "images/avtar-3.png" %}' class="media-box-object rounded-circle" width="50">
                              </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>Megan Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-success circle-lg"></span></span> <span class="float-left">
                               <img src='{% static "images/avtar-4.png" %}' class="media-box-object rounded-circle" width="50">
                             </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>Hritik Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-success circle-lg"></span></span> <span class="float-left">
                                <img src='{% static "images/avtar-5.png" %}' class="media-box-object rounded-circle" width="50">
                              </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>Bianca Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-success circle-lg"></span></span> <span class="float-left">
                                <img src='{% static "images/avtar-6.png" %}' class="media-box-object rounded-circle" width="50">
                              </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>John Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-success circle-lg"></span></span> <span class="float-left">
                                <img src='{% static "images/avtar-1.png" %}' class="media-box-object rounded-circle" width="50">
                              </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>Govinda Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li class="clearfix">
                              <a class="media-box" href="#"><span class="float-right"><span class="circle circle-danger circle-lg"></span></span> <span class="float-left">
                                <img src='{% static "images/avtar-2.png" %}' class="media-box-object rounded-circle" width="50">
                              </span>
                              <span class="media-box-body"><span class="media-box-heading"><strong>Megan Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                           </li>
                           <li>
                              <div class=" text-center">
                                 <a class="btn btn-teal" href="javascript:void(0);" title="See more contacts">Load more..</a>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      <!-- ============================================================== -->
      <!--                        Right Side End                          -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!--            Navigation Start            -->
      <!-- ============================================================== -->
      <div class="main-sidebar-nav dark-navigation">
         <div class="nano">
            <div class="nano-content sidebar-nav">
               <div class="card-body border-bottom text-center nav-profile">
                <!--<img src='{% static "images/avtar-2.png" %}' width="90" class="rounded-circle mar-btm margin-b-10 box-shadow"> -->
                 <br>
                  <p class="lead margin-b-0 toggle-none">
                    {{ request.user.get_full_name }}
                  </p>
                  <p class="text-muted mv-0 toggle-none">Welcome</p>
               </div>
               <ul class="metisMenu nav flex-column" id="menu">
                  <li class="nav-heading"><span>MAIN</span></li>
                  <li class="nav-item">
                    <a href="/" class="nav-link"><span class="toggle-none">Go Back To Main Portal</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"><span class="toggle-none">Your Business Needs To Be An Entity<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column " aria-expanded="false">
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:one' %}" class="nav-link">Select the Entity Structure of Your Business</a></li>
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:2' %}" class="nav-link">Form a Corporation or LLC</a></li>
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:3'%}" class="nav-link">File for Foreign Corporation status</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none"> Your Business Address <span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:4'%}" class="nav-link"> Your Business Address</a></li>
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:5'%}" class="nav-link"> Set Up a True Business Address</a></li>
                     </ul>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Business Phone, 411 Directory Listing, & Fax<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:6'%}" class="nav-link">Business Phone Number</a></li>
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:7'%}" class="nav-link">Business Fax Number</a></li>
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:8'%}" class="nav-link">Submitting Your Number to 411 Directory</a></li>
                        <li class="nav-item"><a href="{% url 'businesscreditcourse:9'%}" class="nav-link">Submit Your Business to Online Business Directories</a></li>
                     </ul>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Business Website & Professional Email Address<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:10' %}" class="nav-link">Set Up Business Website</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:11' %}" class="nav-link">Set Up Professional Email Address</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Federal EIN & Business Licenses: City, Country, State<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:twelve' %}" class="nav-link">Obtain a Federal Employer Identification Number (EIN)</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:13' %}" class="nav-link">Obtain Required Business Licenses</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Your Business Bank Account<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:14' %}" class="nav-link">Set Up Business Bank Account</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:15' %}" class="nav-link">Set Up Merchant Credit Card Processing</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">All Agency Listings Must Be Identical<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:16' %}" class="nav-link">Verify Each Agency Has Your Business Listed the Same</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:17' %}" class="nav-link">Verify Business Listings Match</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Your Business Plan<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:18' %}" class="nav-link">Create a Business Plan</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Leverage Your Assets<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:19' %}" class="nav-link">List Personal Assets</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:20' %}" class="nav-link">List Business Assets</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Optimize Your Personal Credit<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:21' %}" class="nav-link">Check Your Personal Credit</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Bank Ratings<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:22' %}" class="nav-link">Establish a Low 5 Business Bank Rating</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:23' %}" class="nav-link">Establish a Low 5 Business Balance Rating</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Obtaining Your First Bank Business Loan<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:24' %}" class="nav-link">Secure a Business Loan</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Experian Smart Business Credit Reports<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:25' %}" class="nav-link">Task Number 1</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Equifax Small Business Report<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:26' %}" class="nav-link">Search for Your Business on Equifax</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:27' %}" class="nav-link">Order Your Equifax Small Business Credit Report</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Dunn & Bradstreet<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:28' %}" class="nav-link">Search for Your Business on D&B</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:29' %}" class="nav-link">If Your Company Shows Up in Search</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:30' %}" class="nav-link">If Your Company Does Not Show Up in Search</a></li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Business Credit Scores<span class="fa arrow"></span></span></a>
                     <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:31' %}" class="nav-link">Equifax Small Business Credit Risk Score</a></li>
                         <li class="nav-item"><a href="{% url 'businesscreditcourse:32' %}" class="nav-link">Dun & Bradstreet Paydex® Score/a></li>
                     </ul>
                  </li>

               </ul>
            </div>
         </div>
      </div>
      <!-- ============================================================== -->
      <!--            Navigation End              -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!--            Content Start             -->
      <!-- ============================================================== -->
    {% comment %}
      <% end %>
      <% yeild %>
    {% endcomment %}

    {% comment %}
      {% include "layouts/bot_script_headers" %}
    {% endcomment %}

    {% block content %}

    {% endblock content %}
    <footer class="footer">
       <span>Copyright © {% now "Y" %} Get Dinero Today / Need Help? Give Us A Call At 844-874-7572</span>
    </footer>

    <script src='{% static "lib/jquery/dist/jquery.min.js" %}'></script>
    <script src='{% static "lib/jquery-ui/jquery-ui.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/popper.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>

    <script src='{% static "lib/jasny-bootstrap/js/jasny-bootstrap.min.js" %}'></script>
    <script src='{% static "lib/slimscroll/jquery.slimscroll.min.js" %}'></script>
    <script src='{% static "lib/nano-scroll/jquery.nanoscroller.min.js" %}'></script>
    <script src='{% static "lib/metisMenu/metisMenu.min.js" %}'></script>
    <script src='{% static "custom.js" %}'></script>

    <script src='{% static "lib/chartjs/chart.min.js" %}'></script>
    <script src='{% static "lib/chartjs/chartjs-sass.js" %}'></script>

    <script src='{% static "lib/vectormap/jquery-jvectormap-2.0.2.min.js" %}'></script>
    <script src='{% static "lib/vectormap/jquery-jvectormap-us-aea-en.js" %}'></script>

    <script src='{% static "lib/chart-c3/d3.min.js" %}'></script>
    <script src='{% static "lib/chart-c3/c3.min.js" %}'></script>

    <script src='{% static "lib/datatables/jquery.dataTables.min.js" %}'></script>
    <script src='{% static "lib/datatables/dataTables.responsive.min.js" %}'></script>
    <script src='{% static "lib/toast/jquery.toast.min.js" %}'></script>
    <script src='{% static "dashboard.js" %}'></script>



    <script>
    // var chatPal = new ChatPal({embedId: 'DfT7BnTm5dGn', remoteBaseUrl: 'https://chatterpal.me/', version: '7.23'});
    </script>
  <script>
    $(".nano").nanoScroller();

    // Left menu collapse
    // $('.left-nav-toggle a').on('click', function (event) {
    //     event.preventDefault();
    //     $("body").toggleClass("nav-toggle");
    // });
    $(document).ready(function(){
        $(".left-nav-toggle a").off("click").on("click", function() {
          event.preventDefault();
          $("body").toggleClass("nav-toggle");
        });
    })

    // Left menu collapse
      // $('.left-nav-collapsed a').on('click', function (event) {
      //     event.preventDefault();
      //     $("body").toggleClass("nav-collapsed");
      // });

    // Left menu collapse
      $('.right-sidebar-toggle').on('click', function (event) {
          event.preventDefault();
          $("#right-sidebar-toggle").toggleClass("right-sidebar-toggle");
      });

        //metis menu-->
        $('#menu').metisMenu();

      //slim scroll
      $('.scrollDiv').slimScroll({
          color: '#eee',
          size: '5px',
          height: '293px',
          alwaysVisible: false
      });

    //tooltip popover
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  </script>

{% block javascriptblock %}
{% endblock javascriptblock %}

  </body>
</html>
