{% extends "pages/base-business.html" %}
{#{% extends request.resolver_match.page_template %}#}
{% load static %}
{% block title %}

{% endblock title %}

{% block extrastyle %}
    <style>
        body {
            background-image: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%) !important;
        }
    </style>
    <script>
        var showForm = function () {
            $("#user_info").hide()
            $("#user_edit").show();
        };
    </script>
{% endblock extrastyle %}

{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
        </div>
    </div>
    <section class="main-content">
        <div class="row">
            <div class="col-md-4">
                <div class="widget white-bg">
                    <div class="padding-20 text-center">
                        <p class="lead font-500 margin-b-0">
                            {{ request.user.get_full_name|title }}
                        </p>
                        <p class="text-sm margin-b-0">Check All Of Your Portal Information</p>
                    </div>
                </div>
                <div class='widget white-bg friends-group clearfix' id="user_info" style="display:block;">
                    <small class="text-muted">Email address </small>
                    <p>{{ request.user.email }}</p>
                    <small class="text-muted">Phone</small>
                    <p>{{ request.user.profile.phone_number }}</p>
                    <p>
                        <a href="#" onclick="showForm()">Edit</a>
                    </p>
                </div>
                <div class="widget white-bg friends-group clearfix" id="user_edit" style="display:none;">
                    <form action="{% url 'user:myprogress' %}" accept-charset="UTF-8" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="user_email">Email</label>
                            <div class="group-icon">
                                <input autocomplete="email" placeholder="Email" class="form-control" required="required"
                                       type="email" value="{{ request.user.email }}" name="email" id="user_email">
                                <span class="icon-user text-muted icon-input"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_phone">Phone</label>
                            <div class="group-icon">
                                <input placeholder="Phone" class="form-control" required="required" type="text"
                                       value="{{ request.user.profile.phone_number }}" name="phone" id="user_phone">
                                <span class="icon-user text-muted icon-input"></span>
                            </div>
                        </div>
                        <input type="submit" name="commit" value="Save" class="btn btn-block btn-primary"
                               data-disable-with="Save">
                    </form>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="card">
                    <div class="card-header card-default">
                        Your Portal Information
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    {% if on_payment_plan %}
                        <div class="card">
                            <div class="card-body">
                                <p>Your Payment Plan Portal</p>
                                <a class="btn btn-primary" href="{% url 'yourplan:yourplan' %}"
                                   target="_blank">Click
                                    Here To Go To <br> Your Payment Plan Portal</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <p>Apply For Loans</p>
                            <a class="btn btn-primary" href="{% url 'loanportal:loanapplication' %}" target="_blank">Click
                                Here To Login To Your <br> Portal To Apply For Loans</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p>Google Chrome Extension Portal</p>
                            <a class="btn btn-primary" href="{% url 'chromeextention:chromeextentionindex' %}" target="_blank">Click
                                Here To Go To The <br>Google Chrome Extension Portal</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p>Create Your Specific Portal / <br> View Saved Portals</p>
                            <a class="btn btn-primary" href="{% url 'business:create_specific_portal' %}" target="_blank">
                                Click Here To Create Your Specific <br>Portal & View Your Saved Portals
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Choose Your Goal With This Platform</p>
                            <a class="btn btn-primary" href="{% url 'business:goals' %}" target="_blank">
                                Click Here To Choose <br>Your Goal With This Platform
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Go To Affiliate Agent Portal</p>
                            <a class="btn btn-primary" href="https://getdinerotoday.tapfiliate.com/" target="_blank">
                                Click Here To Go To The <br> Affiliate Agent Portal
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Purchase Dunn & Bradstreet Products</p>
                            <a class="btn btn-primary" href="{% url 'products:dnbproducts' %}" target="_blank">
                                Click Here To Go Purchase <br> Dunn & Bradstreet Products <br>To Grow Your Business
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Get The Online Tools To Grow Your Business</p>
                            <a class="btn btn-primary" href="{% url 'onlinetools:onlinetoolshome' %}" target="_blank">
                                Click Here To Go To <br>The Online Tools Portal
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Go To Marketing Couse</p>
                            <a class="btn btn-primary" href="{% url 'marketingcourse:mainfile' %}" target="_blank">
                                Click Here To Go To Marketing Course
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>Go To Business Credit Building Course</p>
                            <a class="btn btn-primary" href="{% url 'businesscreditcourse:home' %}" target="_blank">
                                Click Here To Go To The Business <br> Credit Building Course
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block javascriptblock %}

{% endblock javascriptblock %}
