{% extends "base-creditcourse.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2> Select the Entity Structure of Your Business</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>Set up a business entity or make sure your existing entity is set up correctly. It’s best to build business credit with an LLC or Corporation (S or C Corporation). Creditors, Suppliers, Lenders, etc. prefer to see an actual business entity. In addition, a corporation or an LLC is treated as a separate legal entity which separates you personally from the liability of operating your business. Be sure to compare each entity so you can see the difference between the most common entities.</h3> </center>
      </div>
   </div>
</section>

{% endblock %}
