{% extends "base-businesscreditcourse.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2>Set Up Professional Email Address</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>It’s important to get a dedicated company email address for your business. It’s not only professional, but greatly helps your chances of getting the thumbs up from a credit provider. A great example is an email such as sales@yourcompany.com or support@yourcompany.com. <br><br>
What you want to avoid is using a free service like Gmail, Yahoo and Hotmail. The email address has to be @yourcompany.com. There is nothing worse than potential credit providers noticing your company email address is buddyrocks21@yahoo.com. Setting up a business email address is easy and can be an add on option when registering your domain name.</h3> </center>
      </div>
   </div>
</section>

{% endblock %}
