{% extends "pages/base-businesscreditcourse.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2>Form a Corporation or LLC</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>We highly recommend that you build business credit as a corporation or Limited Liability Company (LLC). If you need to form a separate entity take 10 minutes to SET ONE UP NOW! In order to maximize your funding potential and build a business credit profile that is separate from your personal credit you need to form a corporation or LLC. Once you’ve formed a separate legal entity for your business, you must make sure everything relating to the business is done in the business name. Although you may need to personally sign for certain transaction as an authorized officer of the business, your corporation or LLC is actually the one doing business.</h3> </center>
      </div>
   </div>
</section>


{% endblock %}
