{% extends "pages/base-businesscreditcourse.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2>Set Up a True Business Address</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>To properly establish and build credit, your business needs a deliverable physical address and not a PO Box. In fact, many lenders and credit providers may “flag” your business even if you try to use a reformatted address from service locations like the UPS Store, Mail Boxes Etc. and Postal Annex.
<br><br>
If you don’t have an actual storefront or office location, you can run your business from anywhere and still have a qualifying business address with solutions like these:
<br><br>
=> Address Only – Receive mail and packages at your dedicated business address.
<br><br>
=> Virtual Office – Professional business address, dedicated phone and fax numbers, receptionist services, and part-time use of fully furnished offices and meeting rooms.
<br><br>
=> True Office – Your own full-time private office with receptionist services, dedicated phone and fax, internet, full furnishings, meeting rooms, and more.</h3> </center>
      </div>
   </div>
</section>

{% endblock %}
