{% extends "base-businesscreditcourse.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2>Submit Your Business to Online Business Directories</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>Since searching the internet is the number one tool used to locate a business today, it’s crucial to make sure your business is listed on major online business directories. While there are many popular online directories to get listed with there are several key sites that play a role in the business credit building process. <br><br>
Certain online directories are the online equivalent of a modern day phone book so getting listed is a great way for not only customers to find you but also lenders to verify your business listing in the 411. <br><br>
 Here are the top three online business directories to submit your business listing with:
Express Update – As part of the Infogroup family, Express Update powers and verifies the world’s top search engines. Once you submit your business listing your information is sent to the top Internet search engines, 85% of large public libraries and the leading in-car navigation system. You can submit your business listing or update your information anytime you need to without any cost or ongoing fee.
<br><br>YellowBot – This online directory is similar to the yellow pages. You can add basic business contact information as well as searchable tags to your listing. You can sign in using Windowslive, Yahoo, Twitter, Google or your Facebook account or use a company email address to create a YellowBot listing account. You also have the opportunity to purchase a premium listing for easier account management and additional benefits. <br><br>
Superpages – Superpages.com is an online directory powered by DexMedia™. This is a very popular site used during the initial stages of lender compliance. As you know the key is to get your business listed in major directories so vendors and lenders can easily verify your business listing.</h3> </center>
      </div>
   </div>
</section>
{% endblock %}
