{% extends "base-insuranceagent.html" %}
{% load static %}


{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header no-background no-shadow margin-b-0">
        <div class="col-lg-6 align-self-center ">
            <h2>Dashboard</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>

    </div>
    <div class="row page-header no-background no-shadow margin-b-0">
        {% include "layouts/alerts.html" %}
    </div>
    <section class="main-content">
        <div class="row w-no-padding margin-b-30">
        </div>
        <h2 style="text-align:center;">{{ request.resolver_match.app_name }} portal</h2>
        <br>

    </section>
{% endblock content %}
<!--            Content End               -->