{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Domain Name</h2>
        </div>
    </div>
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/mmOpMZwKcuA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             height="200px" width="100%" alt="">
                        <br><br>
                        <h5 class="card-title">Do You Have A Domain Name For Your Website?</h5>
                        <h5 class="card-title">Your Business Needs To Have A Domain Name In Order For You To Get A
                            Website & Professional Email Address. These Are Required In Order For You To Look Credible &
                            Start Being Able To Get Business Credit Without Leveraging Your Personal Credit. </h5>
                        <div class="btn-group">
                            <a target="_blank" class="btn btn-primary"
                               href="https://www.millennialbusinessbuildersllc.com/products/domain-registration">Click
                                Here To Get Your <br>Domain Name</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
