{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Get Dinero Today</title>
    {% include "components/StylesBlock.html" %}
    {% block extrastyle %}
    {% endblock extrastyle %}
</head>
<body class=''>

{% block navigation %}
{% endblock navigation %}
<div class="container">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <div class="row">
            <div class="col-6">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" aria-describedby="first_name"
                       placeholder="First Name">
            </div>
            <div class="col-6">

                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" aria-describedby="last_name"
                       placeholder="Last Name">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="email"
                       placeholder="Email">
            </div>
            <div class="col-6">

                <label for="Phone">Phone</label>
                <input type="text" class="form-control" id="Phone" aria-describedby="Phone"
                       placeholder="Phone">
            </div>
        </div>

        <input type="hidden" name="cmd" value="_s-xclick"/>
        <input type="hidden" name="hosted_button_id" value="9F4VCNJP9XAYC"/>

        <table>
            <tr>
                <td><input type="hidden" name="on0" value="Business Credit Building OPtions"/>Business Credit
                    Building Options
                </td>
            </tr>
            <tr>
                <td><select name="os0" style="width:100%">
                    <option value="All Business Credit Building Steps">All Business Credit Building Steps :
                        $159.99 USD - monthly
                    </option>
                    <option value="Toll Free Number">Toll Free Number : $29.99 USD - monthly</option>
                    <option value="Website">Website : $19.99 USD - monthly</option>
                    <option value="Fax Number">Fax Number : $19.99 USD - monthly</option>
                    <option value="Domain">Domain : $13.99 USD - monthly</option>
                    <option value="Professional Email Address">Professional Email Address : $2.49 USD -
                        monthly
                    </option>
                    <option value="Toll Free Number & Website & Fax Number">Toll Free Number & Website & Fax
                        Number : $69.99 USD - monthly
                    </option>
                    <option value="Domain & Professional Email Address">Domain & Professional Email Address
                        : $15.99 USD - monthly
                    </option>
                    <option value="Toll Free Number & Fax Number">Toll Free Number & Fax Number : $49.99 USD
                        - monthly
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="hidden" name="on1" value="Enter Domain Name You Need"/>Enter Domain Name You
                    Need
                </td>
            </tr>
            <tr>
                <td><input type="text" name="os1" maxLength="200" style="width:100%"/></td>
            </tr>
        </table>
        <div class="text-center mt-2">
            <input type="hidden" name="currency_code" value="USD"/>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                   border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                 height="1"/>
        </div>

    </form>
</div>


{% include "components/Footer.html" %}
{% include "components/JavaScriptBlock.html" %}
{% block javascriptblock %}
{% endblock javascriptblock %}
</body>
</html>





