<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Business Credit Building Steps You Need Done For You</h2>
    </div>
</div>
<div class="room">
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="355" src="https://www.youtube.com/embed/u4GqnIkb4cY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <h3> Watch The Introduction Video To Understand How To Use The Extension</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post">{% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form.first_name.label_tag }}{{ form.first_name }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name.label_tag }}{{ form.last_name }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {{ form.email.label_tag }}{{ form.email }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {{ form.phone.label_tag }}{{ form.phone }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 font-weight-bold">
                            Choose The Business Credit Building Steps From The Dropdown That You Need
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 d-flex flex-column">
                            <div>
                                <input type="checkbox" name="website" id="website">
                                <label for="website">Website: $19.99 USD - monthly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="toll_free" id="toll_free">
                                <label for="toll_free">Toll Free Number: $29.99 USD - monthly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="fax_number" id="fax_number">
                                <label for="fax_number">Fax Number: $19.99 USD - monthly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="domain" id="domain">
                                <label for="domain">Domain: $13.99 USD - monthly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="professional_email" id="professional_email">
                                <label for="professional_email">Professional Email Address: $2.49 USD - monthly</label>
                            </div>
                            <div>
                                <input type="text" name="domain_name" id="domain_name">
                                <label for="domain_name">Domain name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="stripe-form">
                            <div>Total: $<span id="total_amount">0</span></div>
                            <script src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="{{ stripe_key }}"
                                    data-description="Business Credit Building Steps"
                                    data-amount=""
                                    data-locale="auto">
                            </script>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </section>
</div>

<style media="screen">
    .room {
        margin-bottom: 10%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    
    function round(amount) {
        var rounded = Math.round(amount*100)/100
        return rounded
    }
    
    function changeAmount(checked, price) {
        var amount = Number($("#total_amount").html());
        if (checked) {
            $("#total_amount").html(round(amount + price))
        } else {
            $("#total_amount").html(round(amount - price))
        }
    }

    $("#website").change(function () {
        changeAmount(this.checked, 19.99)
    });
    $("#toll_free").change(function () {
        changeAmount(this.checked, 29.99)
    });
    $("#fax_number").change(function () {
        changeAmount(this.checked, 19.99)
    });
    $("#domain").change(function () {
        changeAmount(this.checked, 13.99)
    });
    $("#professional_email").change(function () {
        changeAmount(this.checked, 2.49)

    });


</script>