{% extends "pages/base-business.html" %}
{#{% extends request.resolver_match.page_template %}#}
{% load static %}
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Check Out</h2>

        </div>
    </div>
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                Successfully paid ${{ amount }}<br>
                <a class="btn btn-primary" href="{% url "homepage" %}">Go to homepage</a>
            </div>
        </div>

    </section>
{% endblock %}
