{% extends "layout/BaseLayout.html" %}
{% load static %}
{% block navigation %}
<div class="main-sidebar-nav dark-navigation">
    <div class="nano">
        <div class="nano-content sidebar-nav">
            <div class="card-body border-bottom text-center nav-profile">
                <br>
                <p class="lead margin-b-0 toggle-none">
                    {{ request.user.get_full_name }}
                </p>
                <p class="text-muted mv-0 toggle-none">Welcome</p>
            </div>
            <ul class="metisMenu nav flex-column" id="menu">
                {#                  <li class="nav-heading"><span>MAIN</span></li>#}
                <li class="nav-item">
                    <a href="/" class="nav-link"><span class="toggle-none">Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'immediatemoney:upgrade' %}" class="nav-link">Upgrade to Full Business Builder
                        Program with No Money Down</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/watch?v=TS7hk62T7jE&feature=youtu.be" target="_blank"
                       class="nav-link"> Watch Webinar On Building Business Credit </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'immediatemoney:business-credit-plan' %}" class="nav-link"> Create My Business
                        Credit Building Plan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"><span class="toggle-none">Business Credit Building <span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column " aria-expanded="false">
                        <li class="nav-item"><a href="{% url 'immediatemoney:business-entity' %}" class="nav-link">Business
                            Entity</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:ein' %}" class="nav-link">EIN Number</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:business-license' %}" class="nav-link">Business
                            License</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:website-creation-options' %}"
                                                class="nav-link">Website Creation</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:fax-number-options' %}" class="nav-link">Fax
                            Number</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:four-eleven' %}" class="nav-link">411
                            Listings</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:professional-email' %}" class="nav-link">Professional
                            Email Address</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:domain' %}" class="nav-link">Domain</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:toll-free-options' %}" class="nav-link">Toll
                            Free Number</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:virtual-address' %}" class="nav-link">Virtual
                            Address</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:business-bank-account' %}"
                                                class="nav-link">Business Bank Account</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:merchant-account' %}" class="nav-link">Merchant
                            Account</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:duns' %}" class="nav-link">Duns Number</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:sic' %}" class="nav-link">SIC & NAISC
                            Codes</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:business-good-standing' %}"
                                                class="nav-link">Checking If Your Business Is In Good Standing </a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:business-in-good-standing' %}"
                                                class="nav-link">How To Get Your Business Back In Good Standing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'immediatemoney:business-credit-step' %}" class="nav-link"> Choose Business Credit
                        Building Steps You Need Done For You </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none"> Business Credit Bureaus To Become Established With  <span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                        <li class="nav-item"><a href="{% url 'immediatemoney:experian' %}" class="nav-link"> Experian
                            Business </a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:dunn-brad' %}" class="nav-link"> Dunn &
                            Bradsheet </a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:equifax' %}" class="nav-link"> Equifax
                            Business </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Corporate Credit List<span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                        <li class="nav-item"><a href="{% url 'immediatemoney:vendor-list' %}" class="nav-link">Starter
                            Vendor List</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:store-credit-vendor-list' %}"
                                                class="nav-link">Store Credit Vendor List</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:business-credit-vendor' %}"
                                                class="nav-link">Revolving Business Credit Vendor List</a></li>
                        <li class="nav-item"><a href="{% url 'immediatemoney:cc-credit-vendor' %}" class="nav-link">Credit
                            Card No Personal Gaurantee Vendor List</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/businesscreditcourse/home" target="_blank" class="nav-link"> Business Credit Building
                        Course </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock navigation %}
{% block content %}
{% endblock content %}
