{% extends "layout/BaseLayout.html" %}
{% load static %}
{% block navigation %}
    <nav class="toggle-sidebar" id="right-sidebar-toggle">
        <div class="nano">
            <div class="nano-content">
                <div>
                    <ul class="list-inline nav-tab-card clearfix" role="tablist">
                        <li class="active" role="presentation">
                            <a aria-controls="friends" data-toggle="tab" href="#friends" role="tab">Friends</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="friends" role="tabcard">
                            <ul class="list-unstyled sidebar-contact-list">
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-success circle-lg"></span></span>
                                        <span class="float-left">
                                <img src='{% static "images/avtar-2.png" %}' class="media-box-object rounded-circle"
                                     width="50">
                              </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>John Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-success circle-lg"></span></span> <span
                                            class="float-left">
                              <img src='{% static "images/avtar-1.png" %}' class="media-box-object rounded-circle"
                                   width="50"></span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>Govinda Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-danger circle-lg"></span></span> <span
                                            class="float-left">
                                <img src='{% static "images/avtar-3.png" %}' class="media-box-object rounded-circle"
                                     width="50">
                              </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>Megan Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-success circle-lg"></span></span> <span
                                            class="float-left">
                               <img src='{% static "images/avtar-4.png" %}' class="media-box-object rounded-circle"
                                    width="50">
                             </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>Hritik Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-success circle-lg"></span></span> <span
                                            class="float-left">
                                <img src='{% static "images/avtar-5.png" %}' class="media-box-object rounded-circle"
                                     width="50">
                              </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>Bianca Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-success circle-lg"></span></span> <span
                                            class="float-left">
                                <img src='{% static "images/avtar-6.png" %}' class="media-box-object rounded-circle"
                                     width="50">
                              </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>John Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-success circle-lg"></span></span> <span
                                            class="float-left">
                                <img src='{% static "images/avtar-1.png" %}' class="media-box-object rounded-circle"
                                     width="50">
                              </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>Govinda Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li class="clearfix">
                                    <a class="media-box" href="#"><span class="float-right"><span
                                            class="circle circle-danger circle-lg"></span></span> <span
                                            class="float-left">
                                <img src='{% static "images/avtar-2.png" %}' class="media-box-object rounded-circle"
                                     width="50">
                              </span>
                                        <span class="media-box-body"><span
                                                class="media-box-heading"><strong>Megan Doe</strong><br>
                              <small class="text-muted">Designer</small></span></span></a>
                                </li>
                                <li>
                                    <div class=" text-center">
                                        <a class="btn btn-teal" href="javascript:void(0);" title="See more contacts">Load
                                            more..</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- ============================================================== -->
    <!--                        Right Side End                          -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!--            Navigation Start            -->
    <!-- ============================================================== -->
    <div class="main-sidebar-nav dark-navigation">
        <div class="nano">
            <div class="nano-content sidebar-nav">
                <div class="card-body border-bottom text-center nav-profile">
                    <!--<img src='{% static "images/avtar-2.png" %}' width="90" class="rounded-circle mar-btm margin-b-10 box-shadow"> -->
                    <br>
                    <p class="lead margin-b-0 toggle-none">
                        {{ request.user.get_full_name }}
                    </p>
                    <p class="text-muted mv-0 toggle-none">Welcome White Label Partner</p>
                </div>
                <ul class="metisMenu nav flex-column" id="menu">
                    <li class="nav-item"><a href="/dashboard" class="nav-link">Go Back To Main Portal</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:home-whitelabel' %}" class="nav-link">Dashboard</a>
                    </li>
                    {% if dynamic.is_main_site and dynamic.show_becoming_whitelabel_partner %}
                        <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:becomingapartner' %}"
                                                class="nav-link">Becoming A White Label Partner</a></li>
                    {% endif %}

                       <li class="nav-item"><a href="{% url "whitelabelpartnerportal:wholesales" %}" class="nav-link">Wholesale Packages</a></li>
                       <li class="nav-item"><a href="" class="nav-link">Clients That Are On Your Wholesale Package</a></li>
                       <li class="nav-item"><a href="" class="nav-link">Partner Resources</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:marketingroi' %}" class="nav-link">Your
                        Marketing Return On Investment</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:whitelabeltraining' %}"
                                            class="nav-link">White Label Training</a></li>
                {% if dynamic.is_paid_for_whitelabel %}
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:myresiduals' %}" class="nav-link">My
                        Residuals</a></li>
                {% endif %}
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:enternewleads' %}" class="nav-link">Enter
                        New Leads</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:leadoverview' %}" class="nav-link">Lead
                        Overview</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:mysales' %}" class="nav-link">My
                        Sales</a></li>
                    {% if iswhitelabeladmin %}
                        <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:productmanagement' %}"
                                                class="nav-link">Manage Products</a></li>
                    {% endif %}
                    {% if iswhitelabeladmin %}
                        <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:manageportal' %}"
                                                class="nav-link">Manage Portal</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:networkmarketing' %}"
                                            class="nav-link">How To Leverage Your Network</a></li>
                    <!-- <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:enteraffiliates' %}" class="nav-link">Enter Affiliate Agents</a></li> -->
                    <!--  <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:salesaffiliates' %}" class="nav-link">Sales Affiliates Overview</a></li> -->
                    <!--  <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:residualsfromaffiliates' %}" class="nav-link">Residual Payments From Your Affiliates</a></li> -->
                    <!--  <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:freesignup' %}" class="nav-link">Clients Who Have Signed Up For Forever Free Program</a></li> -->
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:paidsignup' %}" class="nav-link">Clients
                        Who Have Signed Up Under Your Portal</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span
                                class="toggle-none"> Finance <span class="fa arrow"></span></span></a>
                        <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:orders' %}" class="nav-link">
                                Orders </a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:invoices' %}"
                                                    class="nav-link"> Invoices </a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:payments' %}"
                                                    class="nav-link"> Payments </a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:credits' %}" class="nav-link">
                                Credits</a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:offeringfinancing' %}"
                                                    class="nav-link"> Financing You Can Offer Clients </a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span
                                class="toggle-none"> Marketing Information <span class="fa arrow"></span></span></a>
                        <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:whitelabelwebinar' %}"
                                                    class="nav-link"> White Label Webinar</a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:buywhitelabelwebsite' %}"
                                                    class="nav-link"> Buy White Label Website </a></li>
                            <li class="nav-item"><a
                                    href="{% url 'whitelabelpartnerportal:buywhitelabelbusinesspackage' %}"
                                    class="nav-link"> Buy White Label Business Package </a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:viewportals' %}"
                                                    class="nav-link"> View Your White Label Portal</a></li>
                            <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:viewwhitelabelwebsite' %}"
                                                    class="nav-link"> View Your White Label Website (Only For Those Who
                                Have Purchased)</a></li>
                            <li class="nav-item"><a
                                    href="{% url 'whitelabelpartnerportal:viewwhitelabelbusinesspackage' %}"
                                    class="nav-link"> View Your White Label Business Package (Only For Those Who Have
                                Purchased)</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:partnercommisssions' %}"
                                            class="nav-link">Your Residual Commissions On Products</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:addbankinfo' %}" class="nav-link">Add
                        Bank Account Information To Receive Payments *Or You Can Add Paypal Information*</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:addpaypalinfo' %}" class="nav-link">Add
                        Paypal Information To Receive Payments</a></li>
                    <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:merchant' %}" class="nav-link">Sign Up
                        For Merchant Account</a></li>
                    <li class="nav-item"><a href="https://apps.apple.com/us/app/white-label-partner-gdt/id1530824382"
                                            target="_blank" class="nav-link">Download Partner App For Iphone</a></li>
                    <li class="nav-item"><a
                            href="https://play.google.com/store/apps/details?id=com.millenialbusinessbuilders.whitelabelapp"
                            target="_blank" class="nav-link">Download Partner App For Android</a></li>
                    <br><br>
                    <!--  <li class="nav-item"><a href="{% url 'whitelabelpartnerportal:merchant' %}" class="nav-link">Download Partner App For Android</a></li> -->
                </ul>
            </div>
        </div>
    </div>
{% endblock navigation %}
{% block content %}
{% endblock content %}
