{% extends request.resolver_match.page_template %}
{% load static %}
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Sign Up For Concierge Program</h2></div>
    </div>
    <section class="main-content">
        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-6 shadow-sm">
                    <div class="card-header">
                        Concierge Program
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$Price?<small class="text-muted">/ Year</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Need more details for this page here</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
