
<div class="row page-header"><div class="col-lg-6 align-self-center ">
<h2>Virtual Card Access</h2></div></div>

<section class="main-content">

<div class="row">
  <div class="col-md-12">
    <iframe width="100%" height="515" src="https://www.youtube.com/embed/m60ioLBmneI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<style media="screen">
.card-body {
text-align: center;

}
</style>

<div class="row">
        <div class="col-md-12">
          <div class="card-body">

        <h2>Virtual Cards Are To Be Used For Domain & Email Purchases One Time Use</h2>
        <h3>Watch The Video Above & Login To Your Portal & Access Your Virtual Card</h3>
        <br><br>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script><iframe src="https://hello.dubsado.com:443/public/client/portal/5df3872c85558e3a6224224b?iframe=true" frameBorder="0" width="100%" height="750"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false});},30);</script>
        </div>
          </div>
        </div>


</section>
