<footer class="footer pt-8 " data-bg-img="/static/images/pattern/03.png">
  <div class="primary-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 md-mt-5">
          <h4>Contact Us</h4>
          <ul class="media-icon list-unstyled">
            <li>
              <p class="mb-0">Address: <b>1629 K St NW Suite 300, Washington, DC 20006</b>
              </p>
            </li>
            <li>Email: <a href="mailto:info@getdinerotoday.com"><b>info@getdinerotoday.com</b></a>
            </li>
            <li>Phone: <a href="tel:8777262604"><b>877-726-2604</b></a>
            </li>
          </ul>
          <div class="social-icons social-border social-hover mt-3">
              <ul class="list-inline">
                <li class="social-facebook"><a href="https://www.facebook.com/Millennial-Business-Builders-198386941114067/?modal=admin_todo_tour"><i class="fab fa-facebook-f"></i></a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container-fluid">
      <div class="copyright">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12"> <span>Copyright 2019 Get Dinero Today  | All Rights Reserved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>