{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ APP_TEMPLATE_NAME }} portal</title>
    <link rel="stylesheet" type="text/css" href='{% static "lib/metisMenu/metisMenu.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/vectormap/jquery-jvectormap-2.0.2.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/chart-c3/c3.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/chartjs/chartjs-sass-default.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/datatables/jquery.dataTables.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/datatables/responsive.bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/toast/jquery.toast.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "lib/jquery-ui/jquery-ui.css" %}'>

</head>

<body class=''>
<!-- ============================================================== -->
<!--            Topbar Start              -->
<!-- ============================================================== -->
<div class="top-bar light-top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/" class="admin-logo dark-logo">
                    <h1>
                        <!--<img src="{% static 'images/logo.png' %}" alt="getdinero"> -->
                        <img src="{% static 'images/logo.png' %}" class="logo-icon margin-r-10">
                        <!-- <img src="{% static 'images/logo-default.png' %}" class="toggle-none hidden-xs"> -->
                    </h1>
                </a>
                <div class="left-nav-toggle">
                    <a href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <div class="left-nav-collapsed">
                    <a href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                </div>
                <div class="search-form hidden-xs">

                </div>
            </div>
            <div class="col">
                <ul class="list-inline top-right-nav">
                    <li class="dropdown avtar-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src='{% static "images/avtar-2.png" %}' class="rounded-circle" width="30">
                        </a>
                        <ul class="dropdown-menu top-dropdown">
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'user:myprogress' %}"><i class="icon-bell"></i>My Progress</a>
                                </li>
                                <!--<li>-->
                                <!-- <a href="#"><i class="icon-user"></i> Profile</a>-->
                                <!--</li>-->
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="{% url 'user:logout' %}" class="dropdown-item">
                                        <i class="icon-logout"></i> Logout
                                    </a>
                                </li>
                            {% else %}
                                <a class="navbar-link" href="#">Sign up</a>
                                <a class="navbar-link" href="#">Login</a>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!--                        Topbar End                              -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!--            Navigation Start            -->
<!-- ============================================================== -->
<div class="main-sidebar-nav dark-navigation">
    <div class="nano">
        <div class="nano-content sidebar-nav">
            <div class="card-body border-bottom text-center nav-profile">
                <!--<img src='{% static "images/avtar-2.png" %}' width="90" class="rounded-circle mar-btm margin-b-10 box-shadow"> -->
                <br>
                <p class="lead margin-b-0 toggle-none">
                    {{ request.user.get_full_name }}
                </p>
                <p class="text-muted mv-0 toggle-none">Welcome</p>
            </div>
            <ul class="metisMenu nav flex-column" id="menu">
                {#                  <li class="nav-heading"><span>MAIN</span></li>#}
                {#                   <li class="nav-item">#}
                {#                    <a href="/" class="nav-link"><span class="toggle-none">Home</span></a>#}
                {#                  </li>#}
                <li class="nav-item"><a href="/" class="nav-link">Go Back To Main Portal</a></li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE" class="nav-link"><span
                            class="toggle-none">{{ APP_TEMPLATE_NAME }} Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/upgrade" class="nav-link">Upgrade to Full Business
                        Builder Program with No Money Down
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/watch?v=TS7hk62T7jE&feature=youtu.be" target="_blank"
                       class="nav-link"> Watch Webinar On Building Business Credit </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/financing" class="nav-link"> Create
                        My {{ APP_TEMPLATE_NAME }} Business Financing Plan </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/business-credit-plan" class="nav-link"> Create
                        My {{ APP_TEMPLATE_NAME }} Business Credit Building Plan </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/credit-situation" class="nav-link"> Create My Credit
                        Repair Plan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"><span class="toggle-none">Business Credit Building <span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column " aria-expanded="false">
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-entity"
                                                class="nav-link">Business Entity</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/ein" class="nav-link">EIN
                            Number</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-license"
                                                class="nav-link">Business License</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/website-creation-options"
                                                class="nav-link">Website Creation</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/fax-number-options"
                                                class="nav-link">Fax Number</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/four-eleven"
                                                class="nav-link">411 Listings</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/professional-email"
                                                class="nav-link">Professional Email Address</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/domain" class="nav-link">Domain</a>
                        </li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/toll-free-options"
                                                class="nav-link">Toll Free Number</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/virtual-address"
                                                class="nav-link">Virtual Address</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-bank-account"
                                                class="nav-link">Business Bank Account</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/merchant-account"
                                                class="nav-link">Merchant Account</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/duns" class="nav-link">Duns
                            Number</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/sic" class="nav-link">SIC &
                            NAISC Codes</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-good-standing"
                                                class="nav-link">Checking If Your Business Is In Good Standing </a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-in-good-standing"
                                                class="nav-link">How To Get Your Business Back In Good Standing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/business-credit-step" class="nav-link"> Choose
                        Business Credit Building Steps You Need Done For You </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none"> Business Credit Bureaus To Become Established With  <span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                        <li class="nav-item"><a href="/APP_TEMPLATE/experian" class="nav-link">
                            Experian Business </a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/dunn-brad"
                                                class="nav-link"> Dunn & Bradsheet </a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/equifax" class="nav-link">
                            Equifax Business </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Corporate Credit List<span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                        <li class="nav-item"><a href="/APP_TEMPLATE/vendor-list"
                                                class="nav-link">Starter Vendor List</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/store-credit-vendor-list"
                                                class="nav-link">Store Credit Vendor List</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-credit-vendor"
                                                class="nav-link">Revolving Business Credit Vendor List</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/cc-credit-vendor"
                                                class="nav-link">Credit Card No Personal Gaurantee Vendor List</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" aria-expanded="false"> <span class="toggle-none">Full List Of Financing Products<span
                            class="fa arrow"></span></span></a>
                    <ul class="nav-second-level nav flex-column sub-menu" aria-expanded="false">
                        <li class="nav-item"><a href="/APP_TEMPLATE/personal-credit-card"
                                                class="nav-link">Personal Credit Cards</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-credit-card"
                                                class="nav-link">Business Credit Cards</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/short-term-loan"
                                                class="nav-link">Short Term Loans</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-term-loan"
                                                class="nav-link">Business Term Loans</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/small-business-loan"
                                                class="nav-link">Small Business Adminstration Loans</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/personal-loan"
                                                class="nav-link">Personal Loans</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/business-line-credit"
                                                class="nav-link">Business Lines Of Credit</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/nocredit-financings"
                                                class="nav-link">No Credit Check Loans</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/invoice-factoring"
                                                class="nav-link">Invoice Factoring</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/invoice-financings"
                                                class="nav-link">Invoice Financing</a></li>
                        <li class="nav-item"><a href="/APP_TEMPLATE/equipment-financings"
                                                class="nav-link">Equipment Financing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/marketing-business" class="nav-link"> Marketing
                        Your {{ APP_TEMPLATE_NAME }} Business </a>
                </li>
                <li class="nav-item">
                    <a href="/businesscreditcourse/home" target="_blank" class="nav-link"> Business Credit Building
                        Course </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/customer-financing-offer" class="nav-link"> Offering
                        Financing To Your {{ APP_TEMPLATE_NAME }} Business Customers </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/apply-loans" class="nav-link"> Apply For The
                        Best {{ APP_TEMPLATE_NAME }} Business Loans </a>
                </li>
                <!-- <li class="nav-item">
                      <a href="/APP_TEMPLATE/credit-repair-options" class="nav-link"> Sign Up For Credit Repair </a>
                    </li>-->
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/credit-trade-lines" class="nav-link"> Personal
                        Credit Primary Tradelines </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/business-credit-repair-new" class="nav-link">
                        Business Credit Repair </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/business-credit-monitoring" class="nav-link"> Sign
                        Up For Business Credit Monitoring </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/business-credit-strategy" class="nav-link"> 0%
                        Business Credit Card Strategy </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/refer" class="nav-link"> Make Extra Money Referring
                        Friends! </a>
                </li>
                <li class="nav-item">
                    <a href="/APP_TEMPLATE/insurance-products" class="nav-link"> Insurance
                        Products </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!--            Navigation End              -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% comment %}
    <% end %>
    <% yeild %>
{% endcomment %}

{% comment %}
    {% include "layouts/bot_script_headers.html" %}
{% endcomment %}

{% block content %}

{% endblock content %}
<footer class="footer">
    <span>Copyright © {% now "Y" %} Get Dinero Today / Need Help? Give Us A Call At 844-874-7572</span>
</footer>

<script src='{% static "lib/jquery/dist/jquery.min.js" %}'></script>
<script src='{% static "lib/jquery-ui/jquery-ui.min.js" %}'></script>
<script src='{% static "lib/bootstrap/js/popper.min.js" %}'></script>
<script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>

<script src='{% static "lib/jasny-bootstrap/js/jasny-bootstrap.min.js" %}'></script>
<script src='{% static "lib/slimscroll/jquery.slimscroll.min.js" %}'></script>
<script src='{% static "lib/nano-scroll/jquery.nanoscroller.min.js" %}'></script>
<script src='{% static "lib/metisMenu/metisMenu.min.js" %}'></script>
<script src='{% static "custom.js" %}'></script>

<script src='{% static "lib/chartjs/chart.min.js" %}'></script>
<script src='{% static "lib/chartjs/chartjs-sass.js" %}'></script>

<script src='{% static "lib/vectormap/jquery-jvectormap-2.0.2.min.js" %}'></script>
<script src='{% static "lib/vectormap/jquery-jvectormap-us-aea-en.js" %}'></script>

<script src='{% static "lib/chart-c3/d3.min.js" %}'></script>
<script src='{% static "lib/chart-c3/c3.min.js" %}'></script>

<script src='{% static "lib/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "lib/datatables/dataTables.responsive.min.js" %}'></script>
<script src='{% static "lib/toast/jquery.toast.min.js" %}'></script>
<script src='{% static "dashboard.js" %}'></script>


<script>
    // var chatPal = new ChatPal({embedId: 'DfT7BnTm5dGn', remoteBaseUrl: 'https://chatterpal.me/', version: '7.23'});
</script>
<script>
    $(".nano").nanoScroller();

    // Left menu collapse
    // $('.left-nav-toggle a').on('click', function (event) {
    //     event.preventDefault();
    //     $("body").toggleClass("nav-toggle");
    // });
    $(document).ready(function () {
        $(".left-nav-toggle a").off("click").on("click", function () {
            event.preventDefault();
            $("body").toggleClass("nav-toggle");
        });
    })

    // Left menu collapse
    // $('.left-nav-collapsed a').on('click', function (event) {
    //     event.preventDefault();
    //     $("body").toggleClass("nav-collapsed");
    // });

    // Left menu collapse
    $('.right-sidebar-toggle').on('click', function (event) {
        event.preventDefault();
        $("#right-sidebar-toggle").toggleClass("right-sidebar-toggle");
    });

    //metis menu-->
    $('#menu').metisMenu();

    //slim scroll
    $('.scrollDiv').slimScroll({
        color: '#eee',
        size: '5px',
        height: '293px',
        alwaysVisible: false
    });

    //tooltip popover
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
</script>

{% block javascriptblock %}
{% endblock javascriptblock %}
</body>
</html>
